<div class="container" >
  <span *ngFor="let item of selected">
    <span class="badge badge-primary" >{{item.name}} <a class="badge" (click)="remove(item)"> X</a>
    </span>
  </span>
  <span class="input-field col s12">
    <input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
  </span>
  <div [ngClass]="{'show' : filteredList.length > 0}">
    <div class="dropdown-menu">
      <button *ngFor="let item of filteredList" class="dropdown-item"(click)="select(item)">{{item.name}}</button>
    </div>
  </div>
</div>
