<div class="container" >
  <form class="form-inline">
    <span *ngFor="let item of selected">
      <span class="badge badge-primary" >{{item.name}} <a class="badge" (click)="remove(item)"> X</a></span>
       /
    </span>
    <span>
      <input placeholder="(Concept)" *ngIf="level==null || level.class=='Concept'" id="concept" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter() name="concept" (focus)="showList()">
      <span *ngIf="level?.class=='Date'" class="input-group">
        <input placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" class="validate filter-input">
        <span class="input-group-addon" (click)="d.toggle()" >
          <i class="fa fa-calendar"></i>
        </span>
      </span>
      <span *ngIf="level?.class=='CodeableConcept'" class="input-group">
        <input placeholder="(Code Picker)" name="cp" class="validate filter-input">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
      </span>
      <input placeholder="(Numeric)" *ngIf="level?.class=='Number'" id="number" type="text" class="validate filter-input" name="number">
      <input placeholder="(Text)" *ngIf="level?.class=='String'" id="string" type="text" class="validate filter-input" name="string">
    </span>
    <div [ngClass]="{'show' : filteredList.length > 0}">
      <div class="dropdown-menu">
        <button *ngFor="let item of filteredList" class="dropdown-item"(click)="select(item)">{{item.name}}</button>
      </div>
    </div>
  </form>
</div>
