<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d{dd MMM HH:mm:ss.SSS} [%thread] %highlight(%-5level %logger{10}:%line) %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
