<div class="modal-header">
  <h4 class="modal-title">Expression builder</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="control-label" for="property">Property</label>
        <div class="input-group">
          <input class="form-control" id="property" #focus type="text" [ngModel]="getName(property.property)" name="property" readonly>
          <div class="input-group-append" (click)="selectProperty()">
            <span class="input-group-text">...</span>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group">
        <label class="control-label" for="conceptType">Value type</label>
        <div class="input-group">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="conceptType" name="inlineDefaultRadiosExample" [(ngModel)]="valueType" [value]="0">
            <label class="custom-control-label" for="conceptType">Concept</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" [(ngModel)]="valueType" [value]="1">
            <label class="custom-control-label" for="defaultInline3">Value</label>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group" *ngIf="valueType==1">
        <label class="control-label" for="value">Value</label>
        <div class="input-group">
          <input class="form-control" id="value" #focus type="text" [(ngModel)]="property.value" name="value">
        </div>
      </div>

      <div class="col-md-12 form-group" *ngIf="valueType==0">
        <label class="control-label" for="concept">Concept</label>
        <div class="input-group">
          <input class="form-control" id="concept" #focus type="text" [ngModel]="getName(property.concept)" name="concept" readonly>
          <div class="input-group-append" (click)="selectConcept()">
            <span class="input-group-text">...</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok" [disabled]="property.value == null && property.concept == null">OK</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
