<div class="modal-header">
  <h4 class="modal-title">Concept picker</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="form-group col-md-12">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="searchTerms"  focus placeholder="Enter search terms..." name="searchTerms" (keyup.enter)="search()">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="search()">Search</button>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-selectable col-md-12" *ngIf="concepts">
      <div class="scroll-box-350">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!(concepts.length > 0)"><td colspan="3"><i>(no concepts found)</i></td></tr>
            <tr *ngFor="let item of concepts" (click)="selectedItem = item" [ngClass]="{'selected' : item == selectedItem}">
              <td>{{item.id}}</td>
              <td><span [ngClass]="getIcon(item.clazz)"></span> {{item.name}}</td>
              <td>{{item.count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close(selectedItem)">Ok</button>
</div>
