<div class="modal-header">
  <h4 class="modal-title">Concept Picker</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <form endUserRole="form" class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <label>Search</label>
        <div class="input-group">
          <input class="form-control" type="text" [(ngModel)]="filter" name="filter" autofocus>
          <button class="btn input-group-addon" (click)="applyFilter()"><i class="fa fa-search"></i></button>
          <button class="btn input-group-addon" (click)="clearFilter()"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Results</label>
        <div class="scroll-box-300">
          <loadingIndicator [done]="matches">
            <table class="table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th [hidden]="classes?.length === 1">Class</th>
                  <th>Name</th>
                  <th>Context</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of matches" [ngClass]="{'table-active': row == selectedConcept}" (click)="selectedConcept = row">
                  <td [hidden]="classes?.length === 1">{{Class.byId(row.clazz).getDisplay()}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.contextName}}</td>
                </tr>
              </tbody>
            </table>
          </loadingIndicator>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="ok" [disabled]="selectedConcept == null">OK</button>
  <button type="button" class="btn" (click)="cancel()" name="cancel">Cancel</button>
</div>
