#saved configuration
#Sun Mar 07 12:09:20 GMT 2021
parentEntity=http\://envhealth.info/im\#VSET_Category_operations
loggerText=PREFIX rdf\: <http\://www.w3.org/1999/02/22-rdf-syntax-ns\#>\nPREFIX rdfs\: <http\://www.w3.org/2000/01/rdf-schema\#>\nPREFIX \: <http\://envhealth.info/im\#>\nPREFIX dc\: <http\://purl.org/dc/elements/1.1/>\nPREFIX owl\: <http\://www.w3.org/2002/07/owl\#>\nPREFIX sn\: <http\://snomed.info/sct\#>\nPREFIX sh\: <http\://www.w3.org/ns/shacl\#>\nPREFIX onto\: <http\://www.ontotext.com/>\nPREFIX prov\: <http\://www.w3.org/ns/prov\#>\nOntology filed and classification filed\n22243
snomedNamespace=1000252
