<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d{HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
