<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 form-group">
        <label class="control-label" for="searchTerm">Search term(s)</label>
        <div class="input-group">
          <input class="form-control" id="searchTerm" #focus type="text" [(ngModel)]="searchTerm" (keyup.enter)="search()" name="searchTerm">
          <div class="input-group-append" (click)="search()">
            <span class="input-group-text"><i class="fa fa-fw fa-search"></i></span>
          </div>
        </div>
      </div>

      <div class="col-md-12 form-group">
        <loadingIndicator [done]="matches" text="Searching...">
        <table class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody *ngIf="matches">
            <tr *ngFor="let item of matches.results" (click)="selection=item" [class.selection]="selection==item">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
        </loadingIndicator>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok" [disabled]="selection == null">Select</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
