<div mat-dialog-title>
  <span>{{createMode ? 'Add property range' : 'Edit property range'}}</span>
</div>
<div mat-dialog-content>
  <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">

    <mat-form-field appearance="outline" fxFlex="20" fxFill >
      <mat-label>Operator</mat-label>
      <mat-select [(value)]="range.operator">
        <mat-option *ngFor="let item of operators" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="60" fxFill>
      <mat-label>Range</mat-label>
      <input matInput [(ngModel)]="range.range" placeholder="Range">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="20" fxFill >
      <mat-label>Subsumption</mat-label>
      <mat-select [(value)]="range.subsumption">
        <mat-option value="<">only</mat-option>
        <mat-option value="<<">children only</mat-option>
        <mat-option value="<<<">and children</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions align="end">
  <help-button [helpContext]="'Concept_range#'+ (createMode ? 'Add' : 'Edit')"></help-button>
  <span style="margin-left: auto"></span>
  <button mat-button color="accent" (click)="close()">Cancel</button>
  <button mat-flat-button color="accent" (click)="ok()" [disabled]="!mandatoryFilled()">{{createMode ? 'Add range' : 'Save range'}}</button>
</div>
