@import '~@angular/material/theming';

@mixin layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .layout-header {
    background-color: mat-color($primary, 200);
  }

  .side-nav {
    background-color: mat-color($primary, 800);
    color: mat-color($primary, 50);
  }

  .logo-container {
    background-color: mat-color($primary, 900);
  }

  .nav-content {
    background-color: white;
  }

  .nav-user {
    background-color: mat-color($primary, 900);

    h5 {
      color: mat-color($primary, 300);
    }
  }

  .mat-card-avatar {
    color: mat-color($accent);
  }

  .mat-card {
    background-color: mat-color($primary, 200);
  }

  .mat-card-content {
    background-color: mat-color($primary, 50);
  }
}

@mixin layout-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .layout-header {
    background-color: mat-color($primary, 200);
  }

  .side-nav {
    background-color: mat-color($primary, 800);
    color: mat-color($primary, 50);
  }

  .logo-container {
    background-color: mat-color($primary, 900);
  }

  .nav-content {
    background-color: mat-color($primary, 700);
  }

  .nav-user {
    background-color: mat-color($primary, 900);

    h5 {
      color: mat-color($primary, 300);
    }
  }

  .mat-card-avatar {
    color: mat-color($accent);
  }

  .mat-card {
    background-color: mat-color($primary, 500);
  }

  .mat-card-content {
    background-color: mat-color($primary, 600);
  }
}
