<div style="max-height: 550px; overflow-y: scroll">
  <div *ngIf="definition.subtypeOf && definition.subtypeOf.length > 0">
    <hr>
    Subtype of:
    <span *ngFor="let item of definition.subtypeOf">
      <concept-expression [expression]="item"></concept-expression><br>
    </span>
  </div>

  <div *ngIf="definition.equivalentTo && definition.equivalentTo.length > 0">
    <hr>
    Equivalent to:
    <span *ngFor="let item of definition.equivalentTo">
      <concept-expression [expression]="item"></concept-expression><br>
    </span>
  </div>

  <div *ngIf="definition.mappedTo && definition.mappedTo.length > 0">
    <hr>
    Mapped to:
    <span *ngFor="let item of definition.mappedTo">
      <concept-expression [expression]="item"></concept-expression><br>
    </span>
  </div>

  <div *ngIf="definition.termCodeOf">
    <hr>
    Term code of:
      <concept-expression [expression]="definition.termCodeOf"></concept-expression>
  </div>

  <div *ngIf="definition.childOf">
    <hr>
    Child of:
    <concept-expression [expression]="definition.childOf"></concept-expression>
  </div>

  <div *ngIf="definition.inversePropertyOf">
    <hr>
    Inverse property of:
    <concept-expression [expression]="definition.inversePropertyOf"></concept-expression>
  </div>

  <div *ngIf="definition.disjointWith && definition.disjointWith.length > 0">
    <hr>
    Disjoint with:
    <span *ngFor="let item of definition.disjointWith">
      <concept-expression [expression]="item"></concept-expression><br>
    </span>
  </div>
</div>
