<div *ngFor="let i of axioms">
  <div *ngIf="i.typeId == 0"><ng-container *ngTemplateOutlet="subClassOf; context: {definition: i.definition}"></ng-container></div>
  <div *ngIf="i.typeId == 1"><ng-container *ngTemplateOutlet="equivalentTo; context: {definition: i.definition}"></ng-container></div>
  <div *ngIf="i.typeId == 4"><ng-container *ngTemplateOutlet="propertyRange; context: {definition: i.definition}"></ng-container></div>
  <div *ngIf="i.typeId == 5"><ng-container *ngTemplateOutlet="propertyDomain; context: {definition: i.definition}"></ng-container></div>
  <div *ngIf="i.typeId == 11"><ng-container *ngTemplateOutlet="isFunctional context: {definition: i.definition}"></ng-container></div>
</div>

<ng-template #subClassOf let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Sub Class of:</b> [{{definition.id}}]:</div>
    <div><ng-container *ngTemplateOutlet="conceptExpression; context: {definition: definition}"></ng-container></div>
  </div>
</ng-template>

<ng-template #equivalentTo let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Equivalent to:</b> [{{definition.id}}]:</div>
    <div><ng-container *ngTemplateOutlet="conceptExpression; context: {definition: definition}"></ng-container></div>
  </div>
</ng-template>


<ng-template #propertyRange let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Property Range</b> [{{definition.id}}]:</div>
    <div *ngIf="definition.Union"><ng-container *ngTemplateOutlet="union; context: {definition: definition.Union}"></ng-container></div>
  </div>
</ng-template>

<ng-template #propertyDomain let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Property Domain</b> [{{definition.id}}]:</div>
    <div *ngIf="definition.Union"><ng-container *ngTemplateOutlet="union; context: {definition: definition.Union}"></ng-container></div>
  </div>
</ng-template>

<ng-template #isFunctional let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Is Functional</b> [{{definition.id}}]: True</div>
  </div>
</ng-template>

<ng-template #union let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Union (or):</b> [
      <div *ngFor="let i of definition">
        <ng-container *ngTemplateOutlet="conceptExpression; context: {definition: i}"></ng-container>
      </div> ]
    </div>
  </div>
</ng-template>

<ng-template #intersection let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Intersection (and):</b> [
      <div *ngFor="let i of definition">
        <ng-container *ngTemplateOutlet="conceptExpression; context: {definition: i}"></ng-container>
      </div> ]
    </div>
  </div>
</ng-template>

<ng-template #conceptExpression let-definition="definition">
  <div style="padding-left: 8px">
    <div *ngIf="definition.Class"><ng-container *ngTemplateOutlet="class; context: {definition: definition.Class}"></ng-container></div>
    <div *ngIf="definition.Intersection"><ng-container *ngTemplateOutlet="intersection; context: {definition: definition.Intersection}"></ng-container></div>
    <div *ngIf="definition.ObjectOneOf"><ng-container *ngTemplateOutlet="objectOneOf; context: {definition: definition.ObjectOneOf}"></ng-container></div>
    <div *ngIf="definition.PropertyObject"><ng-container *ngTemplateOutlet="propertyObject; context: {definition: definition.PropertyObject}"></ng-container></div>
  </div>
</ng-template>

<ng-template #class let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Class:</b> {{getName(definition)}}</div>
  </div>
</ng-template>

<ng-template #objectOneOf let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>ObjectOneOf:</b> [
    <span *ngFor="let i of definition">{{i}}</span>
    ]</div>
  </div>
</ng-template>

<ng-template #propertyObject let-definition="definition">
  <div style="padding-left: 8px">
    <div><b>Property Object:</b>
      <span *ngIf="definition.InverseOf">(inverse) {{getName(definition.InverseOf)}}</span>
      <span *ngIf="definition.Property">{{getName(definition.Property)}}</span>
      --&gt;
      <ng-container *ngTemplateOutlet="conceptExpression; context: {definition: definition}"></ng-container>
    </div>
  </div>
</ng-template>


