<mat-card *ngIf="concept">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
    <mat-card-title>Edit concept</mat-card-title>
    <mat-card-subtitle>{{concept.concept.id}} | {{concept.concept.name}}</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button mat-menu-item (click)="parentHierarchy()">Parent hierarchy</button>
      <button mat-menu-item (click)="childHierarchy()">Child hierarchy</button>
      <button mat-menu-item disabled>Node graph</button>
    </mat-menu>
    <mat-menu #conceptMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="visualiseMenu">Visualise</button>
      <button mat-menu-item disabled>Archive</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="conceptMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Id</mat-label>
        <input matInput value="{{concept.concept.id}}" disabled>
      </mat-form-field>
<!--      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Published</mat-label>
        <input matInput value="{{concept.published}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Revision</mat-label>
        <input matInput value="{{concept.revision}}" disabled >
      </mat-form-field>-->
      <mat-form-field appearance="outline" fxFlex="30" fxFill>
        <mat-label>Model</mat-label>
        <mat-select [(value)]="concept.model" disabled>
          <mat-option *ngFor="let item of models" value="{{item.iri}}">{{item.iri}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Code scheme</mat-label>
        <input matInput value="{{concept.concept.codeScheme}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Code</mat-label>
        <input matInput value="{{concept.concept.code}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Status</mat-label>
        <input matInput value="{{concept.concept.status}}" disabled >
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Name</mat-label>
        <input matInput value="{{concept.concept.name}}" disabled>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="75" fxFill>
        <mat-label>Description</mat-label>
        <input matInput value="{{concept.concept.description}}" disabled>
      </mat-form-field>

<!--
      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Range</mat-label>
        <textarea matInput rows=6 value="{{getJSON(concept.propertyRange)}}" disabled class="noresize"></textarea>
      </mat-form-field>
-->

      <mat-form-field appearance="outline" fxFlex="100" fxFill>
        <mat-label>Definition</mat-label>
        <concept-definition [value]="concept.definition"></concept-definition>
      </mat-form-field>

    </div>
  </mat-card-content>
</mat-card>
