<mat-card *ngIf="concept">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
    <mat-card-title>Edit concept</mat-card-title>
    <mat-card-subtitle>{{concept.concept.id}} | {{concept.concept.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Id</mat-label>
        <input matInput value="{{concept.concept.id}}" disabled>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Published</mat-label>
        <input matInput value="{{concept.published}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Revision</mat-label>
        <input matInput value="{{concept.revision}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="30" fxFill>
        <mat-label>Document</mat-label>
        <mat-select [(value)]="concept.model">
          <mat-option *ngFor="let item of models" value="{{item.iri}}">{{item.iri}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Code scheme</mat-label>
        <input matInput value="{{concept.concept.codeScheme}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Code</mat-label>
        <input matInput value="{{concept.concept.code}}" disabled >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="10" fxFill>
        <mat-label>Status</mat-label>
        <input matInput value="{{concept.concept.status}}" disabled >
      </mat-form-field>

      <div fxFlex="50" fxFill>
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="100" fxFill>
            <mat-label>Name</mat-label>
            <input matInput value="{{concept.concept.name}}">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFill>
            <mat-label>Description</mat-label>
            <input matInput value="{{concept.concept.description}}">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Definition</mat-label>
        <textarea matInput rows=6 value="{{getJSON(concept.definition)}}" disabled class="noresize"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Range</mat-label>
        <textarea matInput rows=6 value="{{getJSON(concept.propertyRange)}}" disabled class="noresize"></textarea>
      </mat-form-field>

    </div>
  </mat-card-content>
</mat-card>
