<mat-card *ngIf="concept">
  <mat-card-header>
    <div mat-card-avatar><i class="fad fa-fw fa-lightbulb"></i></div>
    <mat-card-title>Edit concept</mat-card-title>
    <mat-card-subtitle>{{concept.name}}</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button mat-menu-item (click)="parentHierarchy()">Parent hierarchy</button>
      <button mat-menu-item (click)="childHierarchy()">Child hierarchy</button>
      <button mat-menu-item disabled>Node graph</button>
    </mat-menu>
    <mat-menu #conceptMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="visualiseMenu">Visualise</button>
      <button mat-menu-item disabled>Archive</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <i [matMenuTriggerFor]="conceptMenu" class="far fa-fw fa-2x fa-ellipsis-v" style="padding-top: 8px"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Iri</mat-label>
        <input matInput value="{{concept.iri}}" [readonly]="locked || !createMode">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="35" fxFill>
        <mat-label>Ontology</mat-label>
        <input *ngIf="locked "matInput value="{{concept.ontology}}" readonly>
        <mat-select *ngIf="!locked" [(value)]="concept.ontology">
          <mat-option *ngFor="let item of ontologies" value="{{item.iri}}">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Code</mat-label>
        <input matInput value="{{concept.code}}" [readonly]="locked" >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill>
        <mat-label>Status</mat-label>
        <input matInput value="{{concept.status}}" [readonly]="locked" >
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="25" fxFill>
        <mat-label>Name</mat-label>
        <input matInput value="{{concept.name}}" [readonly]="locked">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="75" fxFill>
        <mat-label>Description</mat-label>
        <input matInput value="{{concept.description}}" [readonly]="locked">
      </mat-form-field>

      <div fxFlex="100">
        <mat-divider></mat-divider>
      </div>

      <div fxFlex="100" style="margin-bottom: -16px;">
        <button mat-icon-button (click)="addDefinition()"><i class="fas fa-fw fa-plus"></i></button>
        <button mat-icon-button *ngIf="selectedDef"><i class="fas fa-fw fa-trash"></i></button>
      </div>

      <div fxFlex="70">
        <table class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100">
          <tbody>
            <ng-container *ngFor="let axiom of axioms">
              <!--Axiom "header"-->
              <tr class="mat-row show-child-on-hover">
                <td class="mat-cell" colspan="3"><b><i>{{axiom.token}}</i></b></td>
                <td class="mat-cell" style="width: 128px;">
                  <div class="child-to-show" style="float: right;">
                    <button mat-icon-button (click)="addDefinition(axiom)"><i class="fas fa-plus"></i></button>
                    <button mat-icon-button><i class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>

              <!--Supertype(s) (Assume group 0)-->
              <tr class="mat-row show-child-on-hover" *ngFor="let supertype of axiom.supertypes" (click)="select(axiom, supertype)" [class.selected]="selectedDef === supertype">
                <td class="mat-cell" style="width: 24px"></td>
                <td class="mat-cell">{{getName(supertype.supertype)}}</td>
                <td class="mat-cell">{{supertype.inferred ? 'Inferred' : 'Stated'}}</td>
                <td class="mat-cell" style="width: 128px;">
                  <div class="child-to-show" style="float: right;">
                    <button mat-icon-button><i class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>

              <!--Properties-->
              <ng-container *ngFor="let prop of axiom.properties; let i=index;">
                <!--Group separator-->
                <tr *ngIf="i > 0 && prop.group != axiom.properties[i-1].group">
                  <td class="mat-cell" style="width: 32px"></td>
                  <td class="mat-cell" colspan="3">----</td>
                </tr>
                <!--Property details-->
                <tr class="mat-row show-child-on-hover" (click)="select(axiom, prop)" [class.selected]="selectedDef === prop">
                  <td class="mat-cell" style="width: 24px"></td>
                  <td class="mat-cell">{{getName(prop.property)}} = {{prop.object ? getName(prop.object) : prop.data}}</td>
                  <td class="mat-cell">{{prop.inferred ? 'Inferred' : 'Stated'}}</td>
                  <td class="mat-cell" style="width: 128px;">
                    <div class="child-to-show" style="float: right;">
                      <button mat-icon-button *ngIf="prop.group > 0" (click)="prop.group = prop.group-1"><i class="fas fa-chevron-double-up"></i></button>
                      <button mat-icon-button (click)="prop.group = prop.group+1"><i class="fas fa-chevron-double-down"></i></button>
                      <button mat-icon-button><i class="fas fa-trash"></i></button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div fxFlex="30" *ngIf="edit">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Axiom</mat-label>
            <input matInput value="{{selectedAxiom?.token}}" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Concept</mat-label>
            <input matInput value="{{getName(edit.supertype ? edit.supertype: edit.property)}}" readonly>
            <mat-icon matSuffix (click)="edit.supertype ? promptSupertype(edit) : promptProperty(edit)" style="cursor: pointer">search</mat-icon>
          </mat-form-field>

           <mat-form-field *ngIf="edit.object" appearance="outline" fxFlex="100">
            <mat-label>Object</mat-label>
            <input matInput value="{{getName(edit.object)}}" readonly>
            <mat-icon matSuffix (click)="promptConcept(edit)" style="cursor: pointer">search</mat-icon>

          </mat-form-field>
          <mat-form-field *ngIf="edit.data" appearance="outline" fxFlex="100">
            <mat-label>Value</mat-label>
            <input matInput value="{{edit.data}}">
          </mat-form-field>

          <div fxFlex="100" fxLayoutGap="16px" align="end">
            <button mat-flat-button color="accent">Save</button>
            <button mat-flat-button>Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
