<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Draft concept task : {{task?.subject}}
      <div class="pull-right">
        <button class="btn btn-small btn-success" (click)="save(false)">Save</button>
        <button class="btn btn-small btn-warning" (click)="save(true)">Save & Close</button>
        <button class="btn btn-small btn-danger" (click)="close()">Close</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row" *ngIf="task">
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-header">Details</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label class="control-label" for="subject">Subject</label>
                    <input class="form-control" type="text" readonly value="{{task.subject}}" id="subject">
                  </div>
                  <div class="col-md-2 form-group">
                    <label class="control-label" for="created">Created</label>
                    <input class="form-control" type="text" readonly value="{{task.created| date:'dd-MMM-yyyy HH:mm:ss'}}" id="created">
                  </div>
                  <div class="col-md-2 form-group">
                    <label class="control-label" for="status">Status</label>
                    <input class="form-control" type="text" readonly value="{{statusName(task.status)}}" id="status">
                  </div>
                  <div class="col-md-2 form-group">
                    <label class="control-label" for="updated">Updated</label>
                    <input class="form-control" type="text" readonly value="{{task.updated | date:'dd-MMM-yyyy HH:mm:ss'}}" id="updated">
                  </div>
                  <div class="col-md-2 form-group">
                    <label class="control-label" for="user">User</label>
                    <input class="form-control" type="text" readonly value="{{task.userName}}" id="user">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">Concepts ({{task.data.Concepts.length}})</div>
              <div class="card-body">
                <div class="row">
                  <div class="scroll-box-350 col-md-12">
                    <table class="table table-sm table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Term</th>
                          <th>ID</th>
                          <th>Scheme/Code</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of task.data.Concepts" (click)="select(item)">
                          <td>{{item.name}}</td>
                          <td>{{item.id}}</td>
                          <td>{{item.code_scheme?.id}}/{{item.code}}</td>
                          <td>
                            <span *ngIf="item.resolved" class="badge badge-success">Resolved</span>
                            <span *ngIf="!item.resolved" class="badge badge-warning">Pending</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--
          <div class="col-md-6" *ngIf="selected">
            <div class="card">
              <div class="card-header">Analysis</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 scroll-box-350">
                    <loadingIndicator [done]="analysisResults" text="Analysing...">
                      <table class="table table-sm table-striped">
                        <thead>
                          <tr>
                            <th>Method</th>
                            <th>Match</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of analysisResults">
                            <td>{{analysisMethodName(item.method)}}</td>
                            <td *ngIf="item.matches.length == 0" class="text-danger">None</td>
                            <td *ngIf="item.matches.length == 1" class="text-success">{{item.matches[0].id}}</td>
                            <td *ngIf="item.matches.length > 1" class="text-success">Found {{item.matches.length}} concept(s)</td>
                            <td>
                              <button type="button" class="btn btn-xs btn-success" [hidden]="!actionAvailable(item)" (click)="actionItem(item)">{{getActionName(item)}}</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>
-->
        </div>
      </form>
    </div>
  </div>
</div>
