<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      <h2>Instance Management
        <small></small>
      </h2>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="card" id="summaryCard">
              <div class="card-header">
                <h4>Instance summary
                  <div class="pull-right">
                  <button type="button" (click)="addInstance()" class="btn btn-success" id="addInstance">Add</button>
                  </div>
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <loadingIndicator [done]="instances">
                      <div *ngIf="instances">
                        <table class="table table-striped table-sm table-hover text">
                          <thead>
                            <tr class="d-flex">
                              <th class="col-2">Name</th>
                              <th class="col-6">Url</th>
                              <th class="col-4">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="d-flex" *ngFor="let item of instances" (click)="select(item)" [class.text-warning]="item.status == 'Unavailable'" [class.selection]="selected == item">
                              <td class="col-2">{{item.name}}</td>
                              <td class="col-6">{{item.url}}</td>
                              <td class="col-4">{{getStatus(item)}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card" id="detailCard" *ngIf="selected">
              <div class="card-header">
                <h4>Instance details <button class="pull-right btn btn-sm btn-info" (click)="loadDocuments()">Refresh</button></h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="{{selected.name}}" >
                  </div>
                  <div class="col-md-6 form-group">
                    <label class="control-label" for="status">Status</label>
                    <input class="form-control" type="text" id="status" name="status" value="{{selected.status}}" readonly>
                  </div>
                  <div class="col-md-12 form-group">
                    <label class="control-label" for="url">Url</label>
                    <input class="form-control" type="text" id="url" name="url" value="{{selected.url}}" >
                  </div>
                  <div class="col-md-12">
                    <label class="control-label" for="docs">Deployed document(s)</label>
                    <loadingIndicator [done]="!working" [text]="working">
                        <table class="table table-striped table-sm table-hover text" id="docs">
                          <thead>
                            <tr class="d-flex">
                              <th class="col-7">Document</th>
                              <th class="col-1">Latest</th>
                              <th class="col-2">Remote</th>
                              <th class="col-2">Drafts</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="d-flex" *ngFor="let item of selected.documents">
                              <td class="col-7">{{item.path}}</td>

                              <td class="col-1">
                                <span class="badge" [class.badge-info]="!item.draft" [class.badge-warning]="item.draft">{{Version.asString(item.version)}}</span>
                              </td>

                              <td class="col-2">
                                <span [class]="getClass(item)">{{Version.asString(item.instanceVersion)}}</span>
                                <button class="btn btn-xs btn-success" [hidden]="!updateAvailable(item)" (click)="sendUpdate(item)">Send</button>
                              </td>

                              <td class="col-2">
                                <span *ngIf="item.instanceDraft" class="badge badge-warning">Yes</span>
                                <span *ngIf="!item.instanceDraft" class="badge badge-info">No</span>
                                <button class="btn btn-xs btn-success" [hidden]="!item.instanceDraft" (click)="getDrafts(item)">Fetch</button>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                    </loadingIndicator>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
