  <div class="module" *ngIf="concept">
    <div class="container-fluid">
      <div class="module-heading">
        <h3>
          Event/Record - {{concept.name}} <span class="badge" [ngClass]="getBadgeClass(concept.status)">{{getStatusName(concept.status)}}</span>
          <div class="pull-right">
            <button type="button" class="btn btn-success" [hidden]="!editMode" (click)="save()" name="save">Save</button>
            <button type="button" class="btn btn-danger" [hidden]="!editMode" (click)="cancel()" name="cancel">Cancel</button>
            <button type="button" class="btn" [hidden]="editMode" (click)="close()" name="cancel">Close</button>
          </div>
        </h3>
      </div>
      <div class="module-body">
      <form endUserRole="form" class="container-fluid">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input class="form-control" type="text" [readonly]="!editMode" [(ngModel)]="concept.name" name="conceptName">
          </div>
          <div class="form-group col-md-6">
            <label>Short name</label>
            <input class="form-control" type="text" [readonly]="!editMode" [(ngModel)]="concept.shortName" name="conceptShortName">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Context</label>
            <input class="form-control" type="text" [readonly]="!editMode" [(ngModel)]="concept.contextName" name="conceptContext">
          </div>
          <div class="form-group col-md-6" *ngIf="concept.clazz == 3">
            <label>Inherits fields from</label>
            <div class="input-group">
              <input class="form-control" type="text" readonly value="{{getAttribute(Attribute.INHERITS_FIELDS)?.valueName}}">
              <button class="btn input-group-addon" [hidden]="!editMode" (click)="selectInheritance()"><i class="fa fa-search"></i></button>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label>Description</label>
            <textarea class="form-control" type="text" rows="5" [readonly]="!editMode" [(ngModel)]="concept.description" name="conceptDescription"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label>Fields <button type="button" class="btn btn-sm btn-success" [hidden]="!editMode" (click)="addField()" name="addField">Add</button></label>
            <div class="scroll-box-300">
              <table class="table table-sm table-striped table-hover">
                <thead>
                  <tr>
                    <th class="d-inline-block col-2">Type</th>
                    <th class="d-inline-block col-8">Field</th>
                    <th class="d-inline-block col-2">Occurrences</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of getFields()" class="show-child-on-hover">
                    <td class="d-inline-block col-2">{{getRelationshipName(row)}}</td>
                    <td class="d-inline-block col-8">{{getRelatedName(row)}}</td>
                    <td class="d-inline-block col-2">
                      {{getCardinalityName(row.cardinality)}}
                      <div class="pull-right child-to-show" [hidden]="!editMode">
                        <button type="button" class="btn btn-sm btn-success" (click)="editField(row)" name="editField"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="deleteField(row)" name="deletField"><i class="fa fa-times"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </form>
    </div>
    </div>
  </div>
