<div class="module">
  <div class="module-heading">
    Settings
  </div>
  <div class="module-body">
    <form>
      <div class="container">
        <wizard [navBarLayout]="'large-filled'">
          <wizard-step title="Preparation">
            <div class="row wizard-border justify-content-center">
              <div class="col-md-8">
                <h2>Snomed Bulk Importer Preparation</h2>
                <br>
                <p>This will guide you through the process of bulk uploading snomed codes that have been downloaded from TRUD.</p>
                <br>
                <p>You can download the files from the following link on TRUD. (You may need to create an account on TRUD and subscribe to the release first)</p>
                <p><a href="https://isd.digital.nhs.uk/trud3/user/authenticated/group/0/pack/1/subpack/102/releases" target="_blank">Download snomed files</a></p>
                <br>
                <p class="font-weight-bold">Before continuing with this process, please ensure that you have all the files required for the bulk upload.</p>
                <br>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [checked]="config.activeOnly" (change)="config.activeOnly = !config.activeOnly">
                    Include Active Snomed Concepts Only?
                  </label>
                  <br>
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [checked]="config.delta" (change)="config.delta = !config.delta">
                    Is this a delta import?
                  </label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary pull-right" (finalize)="startUpload()" nextStep>Continue</button>
                </div>
              </div>
            </div>
          </wizard-step>
          <wizard-step title="Upload Snomed Concepts">
            <div class="row wizard-border justify-content-center">
              <div class="col-md-8">
                <h2>Upload snomed concepts file</h2>
                <br>
                <p>Using the files you downloaded in step 1, use either the UK or International Edition of snomed which should be of the format :
                  <b>SnomedCT_UKClinicalRF2_Production_<i>date</i></b></p>
                <p>Navigate to the following folder: <b>Full - Terminology</b></p>
                <p>Choose the file called: <b>sct2_Description_Full-en-GB_GB1000000_<i>date</i>.txt</b></p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <input #conceptInput type="file" (change)="conceptFileChange($event)" placeholder="Upload file" accept=".txt">
                    </div>
                  </div>
                </div>
                <br>
                <div class="modal-footer">
                  <span *ngIf="!startComplete" class="alert-danger pull-left">{{startStatus}}</span>
                  <button type="button" class="btn btn-secondary pull-right"(click)="cancelWizard()" goToStep="0">Cancel</button>
                  <button type="button" class="btn btn-primary pull-right" (finalize)="ok()" [disabled]="!startComplete || !cFile" nextStep>Continue</button>
                </div>
              </div>
            </div>
          </wizard-step>
          <wizard-step title="Upload Snomed Relationships">
            <div class="row wizard-border justify-content-center">
              <div class="col-md-8">
                <h2>Upload snomed relationships file</h2>
                <br>
                <p>Using the files you downloaded in step 1, use the International Edition of snomed which should be of the format :
                  <b>SnomedCT_InternationalRF2_Production_<i>date</i></b></p>
                <p>Navigate to the following folder: <b>Full - Terminology</b></p>
                <p>Choose the file called: <b>sct2_StatedRelationship_Full_INT_<i>date</i>.txt</b></p>
                <div class="input-group">
                  <input #relationshipInput type="file" (change)="relationshipFileChange($event)" placeholder="Upload file" accept=".txt">
                </div>
                <br>
                <div class="modal-footer">
                  <span *ngIf="!conceptUploaded" class="alert-danger pull-left">Processing previously selected file. Please wait.</span>
                  <button type="button" class="btn btn-secondary pull-right"(click)="cancelWizard()" goToStep="0">Cancel</button>
                  <button type="button" class="btn btn-primary pull-right" (finalize)="okRelationShip()" [disabled]="!conceptUploaded || !rFile" nextStep>Continue</button>
                </div>
              </div>
            </div>
          </wizard-step>
          <wizard-step title="Confirmation">
            <div class="row wizard-border justify-content-center">
              <div class="col-md-8">
                <h2>Confirmation</h2>
                <br>
                <p><b>Started Upload : </b>{{startStatus}}</p>
                <p><b>Concept File selected : </b>{{conceptFile}}</p>
                <p><b>Snomed Concept Upload Status : </b>{{conceptStatus}}</p>
                <p><b>Number of concepts to upload : </b>{{conceptCount}}</p>
                <p><b>Relationship File selected : </b>{{relationshipFile}}</p>
                <p><b>Snomed Relationship Upload Status : </b>{{relationshipStatus}}</p>
                <p><b>Number of relationships to upload : </b>{{relationshipCount}}</p>
                <br>
                <p>When you are ready to proceed with the bulk upload, press Finish.</p>
                <div class="modal-footer">
                  <span *ngIf="!relationshipsUploaded" class="alert-danger pull-left">Processing previously selected file. Please wait.</span>
                  <button type="button" class="btn btn-secondary pull-right"(click)="cancelWizard()" goToStep="0">Cancel</button>
                  <button type="button" class="btn btn-primary pull-right" (click)="processUpload()" [disabled]="!relationshipsUploaded" nextStep>Finish</button>
                </div>
              </div>
            </div>
          </wizard-step>
          <wizard-completion-step title="Summary">
            <div class="row wizard-border justify-content-center">
              <div class="col-md-8">
                <h2>Summary</h2>
                <br>
                <p>Processing Upload.  This may take a few minutes.</p>
                <br>
                <p><b>Snomed Concept Upload Status : </b>{{conceptStatus}}</p>
                <p><b>Number Of Concepts To Save : </b>{{conceptCount}}</p>
                <p><b>Snomed Relationship Upload Status : </b>{{relationshipStatus}}</p>
                <p><b>Number Of Relationships To Save : </b>{{relationshipCount}}</p>
                <p *ngIf="config.delta"><b>Inactive Relationships Deleted: </b>{{inactiveRelationshipCount}}</p>
                <p *ngIf="config.delta"><b>Concepts Set To Inactive: </b>{{inactiveSnomedCount}}</p>
                <br>
                <div class="modal-footer">
                  <span class="alert-info pull-left">{{processStatus}}</span>
                </div>
              </div>
            </div>
          </wizard-completion-step>
        </wizard>
      </div>
    </form>
  </div>
</div>
