<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>lightbulb_outline</mat-icon>
    </div>
    <mat-card-title>Concept library</mat-card-title>
    <mat-card-subtitle>All the concepts currently defined in the Information Model</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="50" fxFill>
        <mat-label>Search terms</mat-label>
        <input matInput [(ngModel)]="searchTerm" placeholder="Search term(s)" (keyup.enter)="search()">
        <mat-icon matSuffix (click)="clear()" style="cursor: pointer">clear</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="30">
        <mat-label>Model filter</mat-label>
        <mat-select matInput name="models" [(ngModel)]="modelFilter" multiple>
          <mat-option *ngFor="let item of models" value="item.iri">{{item.iri}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20">
        <mat-label>Status filter</mat-label>
        <mat-select matInput name="status" [(ngModel)]="statusFilter" multiple>
          <mat-option value="legacy">Include legacy</mat-option>
          <mat-option value="inactive">Include inactive</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex-center" *ngIf="concepts == null" fxFlex="100" fxFill>
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact" *ngIf="concepts" fxFlex="100" fxFill>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Term</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="scheme">
          <th mat-header-cell *matHeaderCellDef> Scheme</th>
          <td mat-cell *matCellDef="let element"> {{element.codeScheme}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/concepts/' + row.id"></tr>
      </table>
      <mat-paginator [length]="concepts?.count"
                     [pageSize]="size"
                     [pageIndex]="page"
                     [pageSizeOptions]="[5, 10, 15]"
                     [showFirstLastButtons]="true"
                     (page)="onPage($event)"
                     fxFlex="100"
                     fxFill>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
