<h1 mat-dialog-title>{{createMode ? 'Add definition' : 'Edit definition'}}</h1>
<div mat-dialog-content>
  <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" fxFlex="100" mat-readonly>
      <mat-label>Axiom</mat-label>
      <input matInput value="{{axiomToken}}" readonly>
    </mat-form-field>

    <concept-input fxFlex="100"
                   [ngModel]="concept"
                   (ngModelChange)="setConcept($event)"
                   label="Concept"
                   [showIri]="true"
                   [superTypeFilter]="axiomSupertypes[axiomToken]">
    </concept-input>

    <concept-input fxFlex="100"
                   *ngIf="conceptValueType == 'cm:ObjectProperty'"
                   [(ngModel)]="value"
                   label="Value concept"
                   [showIri]="true"
                   [superTypeFilter]="valueRange">
    </concept-input>

    <ng-container *ngIf="conceptValueType != null && conceptValueType != 'cm:ObjectProperty'">  <!-- TODO: Add in number, date & bool inputs -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Minimum cardinality</mat-label>
        <input matInput [(ngModel)]="minCardinality">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Maximum cardinality</mat-label>
        <input matInput [(ngModel)]="maxCardinality">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="value">
      </mat-form-field>
    </ng-container>

  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="accent" (click)="ok()" [disabled]="!concept || concept===''">{{createMode ? 'Add definition' : 'Save definition'}}</button>
</div>
