<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content style="max-height: unset; overflow: unset">
  {{data.prompt}}
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="value" name="valueInput">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeOk()">{{data.ok}}</button>
  <button mat-button (click)="closeCancel()">{{data.cancel}}</button>
</div>
