<mat-card *ngIf="concept">
  <mat-card-header>
    <div mat-card-avatar><i class="fad fa-fw fa-lightbulb"></i></div>
    <mat-card-title>Concept details</mat-card-title>
    <mat-card-subtitle>{{concept.name}}</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editConcept()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
    <mat-menu #visualiseMenu="matMenu">
      <button mat-menu-item (click)="parentHierarchy()">Parent hierarchy</button>
      <button mat-menu-item (click)="childHierarchy()">Child hierarchy</button>
      <button mat-menu-item disabled>Node graph</button>
    </mat-menu>
    <mat-menu #conceptMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="visualiseMenu">Visualise</button>
      <button mat-menu-item disabled>Archive</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <i [matMenuTriggerFor]="conceptMenu" class="fas fa-fw fa-ellipsis-v"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
        <mat-label>Iri</mat-label>
        <input matInput value="{{concept.iri}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="35" fxFill mat-readonly>
        <mat-label>Namespace</mat-label>
        <input matInput value="{{getNamespace()}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
        <mat-label>Code</mat-label>
        <input matInput value="{{concept.code}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
        <mat-label>Status</mat-label>
        <input matInput value="{{getName(concept.status)}}" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
        <mat-label>Name</mat-label>
        <input matInput value="{{concept.name}}" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="75" fxFill mat-readonly>
        <mat-label>Description</mat-label>
        <input matInput value="{{concept.description}}" readonly>
      </mat-form-field>

      <div fxFlex="100">
        <mat-divider></mat-divider>
      </div>

      <div fxFlex="100" style="margin-bottom: -16px;">
        <mat-menu #axiomMenu="matMenu">
        <button *ngFor="let axiom of getAxioms()" mat-menu-item (click)="addAxiom(axiom.token)">{{axiom.token}}</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="axiomMenu" matTooltip="Add axiom"><i class="fas fa-fw fa-plus"></i><i class="fas fa-fw fa-sort-down"></i></button>
      </div>

      <div fxFlex="100">
        <table class="mat-table mat-table-compact mat-elevation-z8" fxFlex="100">
          <tbody>
            <ng-container *ngFor="let a of conceptAxioms">
              <!--Axiom "header"-->
              <tr class="mat-row show-child-on-hover">
                <td class="mat-cell" colspan="3"><b><i>{{a.token}}</i></b></td>
                <td class="mat-cell" style="width: 128px;">
                  <div class="child-to-show" style="float: right;">
                    <button mat-icon-button (click)="addAxiomDefinition(a.token, a.definitions)" matTooltip="Add definition to this axiom"><i class="fas fa-plus"></i></button>
                    <button mat-icon-button (click)="addGroup(a)" [disabled]="a.token != 'SubClassOf' && a.token != 'EquivalentTo'" matTooltip="Add role group"><i class="fas fa-object-group"></i></button>
                    <button mat-icon-button (click)="deleteAxiom(a.token)" matTooltip="Delete axiom (and its definitions)"><i class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>

              <!-- Definitions -->
              <ng-container *ngFor="let d of a.definitions; let i=index">

                <!-- Concept -->
                <tr class="mat-row show-child-on-hover" *ngIf="d.concept">
                  <td class="mat-cell">&nbsp;</td>
                  <td class="mat-cell" colspan="2">{{getName(d.concept)}}</td>
                  <td class="mat-cell" style="width: 128px;">
                    <div class="child-to-show" style="float: right;">
                      <button mat-icon-button matToolTip="Delete definition"><i class="fas fa-trash"></i></button>
                    </div>
                  </td>
                </tr>

                <!-- Property -->
                <ng-container *ngIf="d.property">
                  <tr class="mat-row show-child-on-hover" *ngIf="i > 0 && d.group != a.definitions[i-1].group">
                    <td class="mat-cell">&nbsp;</td>
                    <td class="mat-cell" colspan="2">---- {{d.group}}</td>
                    <td class="mat-cell" style="width: 128px;">
                      <div class="child-to-show" style="float: right;">
                        <button mat-icon-button matTooltip="Add definition to group"><i class="fas fa-plus"></i></button>
                        <button mat-icon-button matTooltip="Delete group (and its definitions)"><i class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                  <tr class="mat-row show-child-on-hover">
                    <td class="mat-cell">&nbsp;</td>
                    <td class="mat-cell" colspan="2">
                      {{getName(d.property)}} = {{d.object ? getName(d.object) : d.data}}
                    </td>
                    <td class="mat-cell" style="width: 128px;">
                      <div class="child-to-show" style="float: right;">
                        <button mat-icon-button matTooltip="Delete definition"><i class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </ng-container>

              </ng-container>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>

