<div class="modal-header">
  <h4 class="modal-title">Raw editor</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row" *ngIf="json">
      <div class="col-md-12 col-lg-12 form-group">
        <label class="control-label required-field" for="conceptDocument">Document</label>
        <div class="dropdown" id="conceptDocument">
          <button class="dropdown-toggle dropdown-toggle-custom btn-block text-left form-control" id="statusDropdown" type="button" data-toggle="dropdown">{{document}}<i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </button>
          <div class="dropdown-menu"  aria-labelledby="statusDropdown">
            <button *ngFor="let item of documents" class="dropdown-item" (click)="document = item">{{item}}</button>
          </div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label required-field" for="conceptDocument">Concept</label>
        <textarea class="form-control text-monospace" [(ngModel)]="json" rows="25" #textarea></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="validateClick()" name="Validate">Validate</button>
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok">Ok</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
