<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept editor : <span *ngIf="concept">{{concept["id"]}}</span>
        <div class="pull-right">
          <button class="btn btn-info" (click)="editRaw()">Edit RAW</button>
          <button class="btn btn-success" (click)="save(false)">Save</button>
          <button class="btn btn-warning" (click)="save(true)">Save & Close</button>
          <button class="btn btn-danger" (click)="close(true)">Close</button>
        </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="card h-100" id="MetaCard" *ngIf="concept">
                  <div class="card-header"><h4>Summary</h4> </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4 form-group">
                        <div class="form-group">
                          <label class="control-label" for="token">Id</label>
                          <input class="form-control" type="text" id="token" name="token" value="{{concept.data.id}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-4 form-group">
                        <label class="control-label required-field" for="conceptSuperclass">Supertype</label>
                        <div class="input-group">
                          <input class="form-control" id="conceptSuperclass" type="text" [value]="superclass" readonly>
                          <div class="input-group-append" (click)="selectSupertype()">
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-2 form-group">
                        <label class="control-label" for="published">Published</label>
                        <input class="form-control" type="text" id="published" name="published" value="{{getVersion(concept.published)}}" readonly>
                      </div>
                      <div class="col-md-6 col-lg-2 form-group">
                        <label class="control-label" for="published">Revision</label>
                        <input class="form-control" type="text" id="revision" name="revision" value="{{concept.revision}}" readonly>
                      </div>

                      <div class="col-md-12 form-group">
                        <div class="form-group">
                          <label class="control-label" for="description">Document</label>
                          <div class="dropdown" id="conceptDocument">
                            <button class="dropdown-toggle dropdown-toggle-custom btn-block text-left form-control" id="statusDropdown" type="button" data-toggle="dropdown">{{getDocumentName()}}<i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </button>
                            <div class="dropdown-menu"  aria-labelledby="statusDropdown">
                              <button *ngFor="let item of documents" class="dropdown-item" (click)="concept.document = item.dbid">{{item.path}} ({{getVersion(item.version)}})</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 form-group">
                        <div class="form-group">
                          <label class="control-label" for="name">Name</label>
                          <input class="form-control" type="text" id="name" name="name" [(ngModel)]="concept.data.name" >
                        </div>
                      </div>
                      <div class="col-md-12 form-group">
                        <div class="form-group">
                          <label class="control-label" for="description">Description</label>
                          <input class="form-control" type="text" id="description" name="description" [(ngModel)]="concept.data.description" >
                        </div>
                      </div>
<!--                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-4">
                <div class="card h-100" id="structureCard" *ngIf="concept">
                  <div class="card-header"><h4>Properties</h4> </div>
                  <div class="card-body">
                    <div class="row">-->
                      <div class="col-md-12 form-group">
                        <label class="control-label" for="properties">Properties</label>
                        <button type="button" class="btn btn-xs btn-success pull-right" (click)="promptAddProperty()">Add</button>
                        <div class="scroll-box" id="properties" style="max-height: 400px">
                          <table class="table table-striped table-sm table-hover">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngIf="concept">
                                <ng-container *ngFor="let prop of getProperties()">
                                  <tr class="show-child-on-hover">
                                    <td>
                                      <a (click)="navigateTo(prop)">{{getName(prop)}}</a>
                                    </td>
                                    <td>
                                      <div *ngFor="let val of getValues(concept.data[prop])">
                                        <a (click)="navigateTo(val)">{{getName(val)}}</a>
                                      </div>
                                    </td>
                                </ng-container>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card h-100" id="diagramCard" *ngIf="concept">
              <div class="card-header"><h4>Diagram
              <div class="pull-right">
                <button type="button" class="btn btn-sm btn-info" (click)="refreshDiagram()">Refresh</button>
              </div>
              </h4> </div>
              <div class="card-body">
                <!--<div class="row">-->
                  <!--<div class="col-md-12 form-group">-->
                    <nodeGraph #nodeGraph (nodeClick)="nodeClick($event)" (nodeDblClick)="nodeDblClick($event)" ></nodeGraph>

                    <!--                    <loadingIndicator [done]="!generatingRuntime">
                                          <button type="button" class="btn btn-success" (click)="generateRuntime()">Generate runtime</button>
                                        </loadingIndicator>
                                        <loadingIndicator [done]="!loadingRuntime">
                                          <button type="button" class="btn btn-success" (click)="loadRuntime()">Load runtime</button>
                                        </loadingIndicator>-->
                    <!--</div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
