<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept editor : <span *ngIf="concept">{{concept.id}} | {{concept.name}} </span>
        <div class="pull-right">
          <button class="btn btn-info" (click)="visualise()">Visualise</button>
          <button class="btn btn-success" (click)="save(false)">Save</button>
          <button class="btn btn-warning" (click)="save(true)">Save & Close</button>
          <button class="btn btn-danger" (click)="close(true)">Close</button>
        </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-12 mb-4">
                <div class="card h-100" id="MetaCard" *ngIf="concept">
                  <div class="card-header"><h4>Summary</h4> </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2 form-group">
                        <div class="form-group">
                          <label class="control-label" for="token">Id</label>
                          <input class="form-control" type="text" id="token" name="token" value="{{concept.id}}" readonly>
                        </div>
                      </div>
                      <div class="col-md-1 form-group">
                        <label class="control-label" for="published">Published</label>
                        <input class="form-control" type="text" id="published" name="published" value="{{getVersion(concept.published)}}" readonly>
                      </div>
                      <div class="col-md-1 form-group">
                        <label class="control-label" for="published">Revision</label>
                        <input class="form-control" type="text" id="revision" name="revision" value="{{concept.revision}}" readonly>
                      </div>
                      <div class="col-md-3 form-group">
                        <div class="form-group">
                          <label class="control-label" for="description">Document</label>
                          <div class="dropdown" id="conceptDocument">
                            <button class="dropdown-toggle dropdown-toggle-custom btn-block text-left form-control" id="statusDropdown" type="button" data-toggle="dropdown">{{getDocumentName()}}<i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </button>
                            <div class="dropdown-menu"  aria-labelledby="statusDropdown">
                              <button *ngFor="let item of documents" class="dropdown-item" (click)="concept.document = item.dbid">{{item.path}} ({{getVersion(item.version)}})</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2 form-group">
                        <div class="form-group">
                          <label class="control-label" for="scheme">Scheme</label>
                          <div class="input-group">
                            <input class="form-control" id="scheme" type="text" [ngModel]="getName(concept.scheme)" name="scheme" readOnly>
                            <div class="input-group-append" (click)="pickScheme()">
                              <span class="input-group-text">...</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 form-group">
                        <div class="form-group">
                          <label class="control-label" for="code">Code</label>
                          <input class="form-control" type="text" id="code" name="code" [(ngModel)]="concept.code" [readOnly]="concept.scheme == null">
                        </div>
                      </div>
                      <div class="col-md-1 form-group">
                        <div class="form-group">
                          <label class="control-label" for="status">Status</label>
                          <input class="form-control" type="text" id="status" name="status" [ngModel]="concept.status" readOnly>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12 form-group">
                        <div class="form-group">
                          <label class="control-label" for="name">Name</label>
                          <input class="form-control" type="text" id="name" name="name" [(ngModel)]="concept.name" >
                        </div>
                      </div>
                          <div class="col-md-12 form-group">
                        <div class="form-group">
                          <label class="control-label" for="description">Description</label>
                          <input class="form-control" type="text" id="description" name="description" [(ngModel)]="concept.description" >
                        </div>
                      </div>
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <div class="form-group">
                          <label class="control-label" for="description">Range expression <small class="text-danger">TODO: Expression builder</small></label>
                          <textarea rows="5" class="form-control" type="text" id="range" name="range" [(ngModel)]="concept.range" ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <div class="col-md-12 mb-4">
            <div class="card h-100" id="diagramCard" *ngIf="concept">
              <div class="card-header"><h4>Details</h4></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="scroll-box" id="domain" style="max-height: 400px">
                      <table class="table table-striped table-sm table-hover">
                        <thead>
                          <tr>
                            <th>Property <button type="button" class="btn btn-xs btn-success" (click)="promptAddDomain()" accesskey="p">Add <u>p</u>roperty</button></th>
                            <th>Card</th>
                            <th>Range</th>
                            <th>Inherits</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="concept">
                            <ng-container *ngFor="let item of concept.domain">
                              <tr class="show-child-on-hover">
                                <td><a (click)="navigateTo(item.property)">{{getName(item.property)}}</a></td>
                                <td>{{item.cardinality}}</td>
                                <td>{{getRange(item.property)}}</td>
                                <td><a (click)="navigateTo(item.inherits)">{{getName(item.inherits)}}</a></td>
                                <td style="width: 64px;">
                                  <span class="child-to-show pull-right" [hidden]="item.inherits">
                                    <button class="btn btn-xs btn-success" (click)="editDomain(item)"><i class="fa fa-fw fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-danger" (click)="promptDelDomain(item)"><i class="fa fa-fw fa-trash"></i></button>
                                  </span>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12 form-group">
                    <div class="scroll-box" id="properties" style="max-height: 400px">
                      <table class="table table-striped table-sm table-hover">
                        <thead>
                          <tr>
                            <th>Expression <button type="button" class="btn btn-xs btn-success" (click)="promptAddExpression()" accesskey="e">Add <u>e</u>xpression</button></th>
                            <th>Value</th>
<!--                            <th>Inherits</th>-->
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="concept">
                            <ng-container *ngFor="let item of concept.properties">
                              <tr class="show-child-on-hover">
                                <td><a (click)="navigateTo(item.property)">{{item.property}} | {{getName(item.property)}}</a></td>
                                <td><a (click)="navigateTo(item.concept)">{{getValue(item)}}</a></td>
<!--                                <td><a (click)="navigateTo(item.inherits)">{{getName(item.inherits)}}</a></td>-->
                                <td style="width: 64px;">
                                  <span class="child-to-show pull-right" [hidden]="item.inherits">
                                    <button class="btn btn-xs btn-success" (click)="editExpression(item)"><i class="fa fa-fw fa-pencil"></i></button>
                                    <button class="btn btn-xs btn-danger" (click)="promptDelExpression(item)"><i class="fa fa-fw fa-trash"></i></button>
                                  </span>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
