<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept Details
      <div class="pull-right">
        <button class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        <button class="btn btn-sm btn-success" (click)="save()">Save</button>
      </div>
    </div>
    <div class="module-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <h4 class="card-header">Concept Details <small>(Count {{concept?.count}})</small></h4>
              <div class="card-block" *ngIf="concept">
                <form>
                  <div class="row">
                    <div class="form-group col-md-5">
                      <label for="conceptName">Name:</label>
                      <input id="conceptName" class="form-control" [(ngModel)]="concept.name" name="name">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="conceptShortName">Short Name:</label>
                      <input id="conceptShortName" class="form-control" [(ngModel)]="concept.shortName" name="shortName">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="conceptClazz">Class:</label>
                      <div ngbDropdown class="">
                        <button class="btn" id="conceptClazz" ngbDropdownToggle>{{getClassName(concept.clazz)}}</button>
                        <div class="dropdown-menu" aria-labelledby="ancestorDropdown">
                          <button *ngFor="let clazz of clazzes" class="dropdown-item" (click)="concept.clazz = clazz.id">{{clazz.name}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="conceptDescription">Description:</label>
                      <input id="conceptDescription" class="form-control" [(ngModel)]="concept.description" name="description">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">

          <div class="col-md-6">
            <div class="card">
              <h4 class="card-header">Ancestors (is..of) <button class="btn btn-sm btn-success" (click)="showAncestorPicker()">Add</button></h4>
              <div class="card-block">
                <div class="table-selectable col-md-12" *ngIf="ancestors">
                  <div class="scroll-box-350">
                    <table class="table table-hover">
                      <thead>
                        <th>Relationship Type</th>
                        <th>Source Concept Name</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngIf="!(ancestors.length > 0)"><td colspan="3"><i>(no ancestors found)</i></td></tr>
                        <tr *ngFor="let item of ancestors">
                          <td>
                            <div ngbDropdown class="d-inline-block">
                              <button class="btn btn-info btn-sm" id="ancestorDropdown" ngbDropdownToggle>is {{item.relationshipTypeName}} of</button>
                              <div class="dropdown-menu" aria-labelledby="ancestorDropdown">
                                <button *ngFor="let relType of relationshipTypes" class="dropdown-item" (click)="setRelationshipType(item, relType)">is {{relType.name}} of</button>
                              </div>
                            </div>
                          </td>
                          <td><a (click)="traverseConcept(item.sourceConcept)">{{item.sourceConceptName}}</a></td>
                          <td>
                            <button type="button" class="btn btn-danger btn-sm child-to-show pull-right" (click)="deleteAncestor(item)"><span class="fa fa-remove"></span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <h4 class="card-header">Descendants (has..of) <button class="btn btn-sm btn-success" (click)="showDescendantPicker()">Add</button></h4>
              <div class="card-block">
                <div class="table-selectable col-md-12" *ngIf="descendants">
                  <div class="scroll-box-350">
                    <table class="table table-hover">
                      <thead>
                        <th>Relationship Type</th>
                        <th>Target Concept Name</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngIf="!(descendants.length > 0)"><td colspan="3"><i>(no descendants found)</i></td></tr>
                        <tr *ngFor="let item of descendants">
                          <td>
                            <div ngbDropdown class="d-inline-block">
                              <button class="btn btn-info btn-sm" id="descendantDropdown" ngbDropdownToggle>has {{item.relationshipTypeName}} of</button>
                              <div class="dropdown-menu" aria-labelledby="descendantDropdown">
                                <button *ngFor="let relType of relationshipTypes" class="dropdown-item" (click)="setRelationshipType(item, relType)">has {{relType.name}} of</button>
                              </div>
                            </div>
                          </td>
                          <td><a (click)="traverseConcept(item.targetConcept)">{{item.targetConceptName}}</a></td>
                          <td>
                            <button type="button" class="btn btn-danger btn-sm child-to-show pull-right" (click)="deleteDescendant(item)"><span class="fa fa-remove"></span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
