<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept Details
    </div>
    <div class="module-body">
      <div>
        Showing details for concept: {{id}}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Concept Details</h3>
              </div>
              <div class="panel-body">
                <b>Name: </b>{{concept?.name}}
                <br>
                <b>Short Name: </b>{{concept?.shortName}}
                <br>
                <b>Description: </b>{{concept?.description}}
                <br>
                <b>Count: </b>{{concept?.count}}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-sm btn-success" (click)="showDialog()">Add</button>
          </div>
        </div>

        <div class="row">
          <div class="table-selectable col-md-12" *ngIf="conceptRelationships">
            <div class="scroll-box-350">
              <table class="table table-hover">
                <thead>
                <th>Id</th>
                <th>Source Concept Name</th>
                <th>Relationship Type</th>
                <th>Target Concept Id</th>
                <th></th>
                </thead>
                <tbody>
                <tr *ngIf="!(conceptRelationships.length > 0)"><td colspan="3"><i>(no relationships found)</i></td></tr>
                <tr *ngFor="let item of conceptRelationships">
                  <td>{{item.id}}</td>
                  <td><a (click)="navigateConcept(item.sourceConcept)">{{item.sourceConceptName}}</a></td>
                  <td>{{item.relationshipTypeName}}</td>
                  <td><a (click)="navigateConcept(item.targetConcept)">{{item.targetConceptName}}</a></td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm child-to-show pull-right" (click)="deleteRelationship(item.id)"><span class="fa fa-remove"></span></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
