<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept Modeller
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchTerms" focus placeholder="Enter search terms..." name="searchTerms" (keyup.enter)="findConcepts()">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="findConcepts()">Search</button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <!--<loadingIndicator [done]="!loading">-->
            <div class="table-selectable" *ngIf="summaryList">
              <div class="scroll-box-350">
                <table class="table table-hover">
                  <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Count</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngIf="!(summaryList.length > 0)"><td colspan="3"><i>(no concepts found)</i></td></tr>
                    <tr *ngFor="let item of summaryList">
                      <td><a (click)="showDetails(item.id)">{{item.id}}</a></td>
                      <td><a (click)="getRelationships(item.id)">{{item.name}}</a></td>
                      <td>{{item.count}}</td>
                      <td>
                        <button type="button" class="btn btn-danger btn-xs child-to-show pull-right" (click)="delete(item.id)"><span class="fa fa-remove"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <!--</loadingIndicator>-->
        </div>

        <div class="row">
          <div class="table-selectable" *ngIf="conceptRelationships">
            <div class="scroll-box-350">
              <table class="table table-hover">
                <thead>
                <th>Id</th>
                <th>Source Concept Id</th>
                <th>Target Concept Id</th>
                <th>Target Label</th>
                <th></th>
                </thead>
                <tbody>
                <tr *ngIf="!(conceptRelationships.length > 0)"><td colspan="3"><i>(no relationships found)</i></td></tr>
                <tr *ngFor="let item of conceptRelationships">
                  <td>{{item.id}}</td>
                  <td>{{item.sourceConcept}}</td>
                  <td>{{item.targetConcept}}</td>
                  <td>{{item.targetLabel}}</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs child-to-show pull-right" (click)="deleteRelationship(item.id)"><span class="fa fa-remove"></span></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
              <input type="text" class="form-control" [(ngModel)]="conceptRelationship.sourceConcept" focus placeholder="Source Concept" name="sourceConcept">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="conceptRelationship.targetConcept" focus placeholder="Target Concept" name="targetConcept">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="conceptRelationship.targetLabel" focus placeholder="Target Label" name="targetLabel">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" (click)="addRelationship()">Add Relationship</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" (click)="populateDB()">PopulateDB</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
