<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Concept Modeller
      <div class="pull-right">
        <button class="btn btn-sm btn-success" (click)="editConcept(-1)">Add</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="searchTerms" focus placeholder="Enter search terms..." name="searchTerms" (keyup.enter)="search()">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="search()">Search</button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <!--<loadingIndicator [done]="!loading">-->
            <div class="table-selectable col-md-12" *ngIf="summaryList">
              <div class="scroll-box-450">
                <table class="table table-hover table-striped table-sm">
                  <thead>
                    <th class="d-inline-block col-1">Id</th>
                    <th class="d-inline-block col-7">Name</th>
                    <th class="d-inline-block col-3">Class</th>
                    <!--<th>Count</th>-->
                    <th class="d-inline-block col-1">&nbsp;</th>
                  </thead>
                  <tbody>
                    <tr *ngIf="!(summaryList.length > 0)"><td colspan="3"><i>(no concepts found)</i></td></tr>
                    <tr *ngFor="let item of summaryList" (click)="editConcept(item.id)" class="show-child-on-hover" [ngClass]="{'text-danger' : item.clazz == 1 || item.clazz == 15}">
                      <td class="d-inline-block col-1">{{item.id}}</td>
                      <td class="d-inline-block col-7">{{item.name}}</td>
                      <td class="d-inline-block col-3">{{getClazz(item.clazz)}}</td>
                      <!--<td>{{item.count}}</td>-->
                      <td class="d-inline-block col-1">
                        <button type="button" class="btn btn-danger btn-sm child-to-show pull-right" *ngIf="item.clazz != 1 && item.clazz != 15" (click)="delete(item.id, $event)"><span class="fa fa-remove"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ngb-pagination [collectionSize]="totalConcepts" [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="10" [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
            </div>
          <!--</loadingIndicator>-->
        </div>

        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" (click)="expressionBuilder()">Expression Builder</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" (click)="conceptPicker()">Concept Picker</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
