<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-12">
        <div #graphContainer>
          <nodeGraph #nodeGraphDlg></nodeGraph>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="cancel()" name="cancel">Close</button>
</div>
