<h1 mat-dialog-title>{{createMode ? 'Add definition' : 'Edit definition'}}</h1>
<div mat-dialog-content>
  <div fxLayout="row wrap" fxLayoutAlign="start">
    <mat-form-field appearance="outline" fxFlex="100" mat-readonly>
      <mat-label>Axiom</mat-label>
      <input matInput value="{{conceptAxiom.token}}" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Concept ({{conceptType}})</mat-label>
      <input matInput value="{{getName(concept)}}">
      <mat-icon matSuffix (click)="promptConcept()" style="cursor: pointer">search</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="conceptValueType" appearance="outline" fxFlex="100">
      <mat-label>Value</mat-label>
      <input matInput value="{{getName(value)}}">
      <mat-icon matSuffix (click)="promptObject(value)" style="cursor: pointer">search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="accent" (click)="ok()">{{createMode ? 'Add definition' : 'Save definition'}}</button>
</div>
