<div class="modal-header">
  <h4 class="modal-title">Domain property editor</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12 form-group">
        <label class="control-label" for="property">Property</label>
        <div class="input-group">
          <input class="form-control" id="property" #focus type="text" [ngModel]="getName(domain.property)" name="property" readonly>
          <div class="input-group-append" (click)="selectProperty()">
            <span class="input-group-text">...</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label" for="range">Range</label>
        <div class="input-group">
          <textarea class="form-control" id="range" rows="5" [ngModel]="getRange(domain.property)" name="range" readonly></textarea>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label" for="cardinality">Cardinality</label>
        <div class="input-group">
          <input class="form-control" id="cardinality" type="text" [(ngModel)]="domain.cardinality" name="cardinality" (change)="validateCardinality()">
        </div>
        <small class="text-danger" [hidden]="cardRegex.test(domain.cardinality)">Invalid cardinality - (0|1):(*|n)</small>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok" [disabled]="!cardRegex.test(domain.cardinality)">OK</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
