<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      <h2>Workflow management</h2>
    </div>
    <div class="module-body">
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="card" id="summaryCard">
              <div class="card-header">
                <h4>Task categories</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <loadingIndicator [done]="taskCategories">
                      <div *ngIf="taskCategories">
                        <table class="table table-striped table-sm table-hover text">
                          <tbody>
                            <tr class="d-flex" *ngFor="let item of taskCategories" (click)="select(item)" [class.selection]="selected == item">
                              <td class="col-12">{{item.name}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </loadingIndicator>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card" id="detailCard" *ngIf="selected">
              <div class="card-header">
                <h4>{{selected.name}} tasks</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <loadingIndicator [done]="tasks">
                        <table class="table table-striped table-sm table-hover text" id="docs">
                          <thead>
                            <tr class="d-flex">
                              <th class="col-7">Subject</th>
                              <th class="col-2">Created</th>
                              <th class="col-2">Updated</th>
                              <th class="col-1">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="d-flex" *ngFor="let item of tasks" (click)="view(item)">
                              <td class="col-7">{{item.subject}}</td>
                              <td class="col-2">{{item.created | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                              <td class="col-2">{{item.updated | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                              <td class="col-1">{{item.status}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </loadingIndicator>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
