<div class="modal-header">
  <h4 class="modal-title">Create concept</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-lg-12 form-group">
        <label class="control-label required-field" for="conceptDocument">Model</label>
        <div class="dropdown" id="conceptDocument">
          <button class="dropdown-toggle dropdown-toggle-custom btn-block text-left form-control" id="statusDropdown" type="button" data-toggle="dropdown">{{model?.iri}}<i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </button>
          <div class="dropdown-menu"  aria-labelledby="statusDropdown">
            <button *ngFor="let item of models" class="dropdown-item" (click)="model = item">{{item.iri}}</button>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 form-group">
        <label class="control-label required-field" for="conceptContext">Id</label>
        <input class="form-control" id="conceptContext" #focus type="text" [(ngModel)]="id" name="conceptContext">
      </div>
      <div class="col-md-12 col-lg-6 form-group">
        <label class="control-label" for="conceptName">Name</label>
        <input class="form-control" id="conceptName" type="text" [(ngModel)]="name" name="conceptName">
      </div>

      <div class="col-md-12 col-lg-12 form-group">
        <div class="required-field-note"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="ok()" name="Ok" [disabled]="id == null || id == '' || model == null">Create</button>
  <button type="button" class="btn btn-danger" (click)="cancel()" name="cancel">Cancel</button>
</div>
