<span style="padding-left: 10px;">
  {{expression.operator}}
  <span *ngIf="expression.concept"><a [routerLink]="'/concepts/'+expression.concept">{{getText(expression.concept)}}</a></span>
  <attribute-expression *ngIf="expression.attribute" [attributeExpression]="expression.attribute"></attribute-expression>
  <role-group *ngIf="expression.roleGroup" [roleGroup]="expression.roleGroup"></role-group>
  <div  style="padding-left: 10px;" *ngIf="expression.expression">
    <concept-expression *ngFor="let item of expression.expression" [expression]="item"></concept-expression>
  </div>
</span>
