<span style="padding-left: 10px;">
  {{expression.operator}}
  <span *ngIf="expression.concept">{{getText(expression.concept)}}<mat-icon style="cursor: pointer; font-size: 14px; vertical-align: top; transform: scaleX(-1)" [matMenuTriggerFor]="expConMenu">reply_all</mat-icon></span>
  <mat-menu #expConMenu="matMenu">
    <button mat-menu-item [routerLink]="'/concepts/'+expression.concept">Go to...</button>
    <button mat-menu-item>Copy name</button>
    <button mat-menu-item>Copy code</button>
  </mat-menu>
  <role-group *ngIf="expression.roleGroup" [roleGroup]="expression.roleGroup"></role-group>
</span>
